
:local(.routerItem)
  width: 100%;
  color: blue;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background: pink;

:local(.wrap)
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  border: 1px solid red;
  border-radius: 50%;

  div {
    box-sizing: border-box;
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    position : absolute;
    top: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    transform-origin: 10px 110px;

  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
  }
  
  div:nth-child(1){
    transform: rotate(360/6 * 0deg)
    span {
      transform: rotate(-360/6 * 0deg)
    }
  }

  div:nth-child(2){
    transform: rotate(360/6 * 1deg)
    span {
       transform: rotate(-360/6 * 1deg)
    }
  }

  div:nth-child(3){
    transform: rotate(360/6 * 2deg)
    span {
       transform: rotate(-360/6 * 2deg)
    }
  }

  div:nth-child(4){
    transform: rotate(360/6 * 3deg)
    span {
       transform: rotate(-360/6 * 3deg)
    }
  }

  div:nth-child(5){
    transform: rotate(360/6 * 4deg)
    span {
       transform: rotate(-360/6 * 4deg)
    }
  }

  div:nth-child(6){
    transform: rotate(360/6 * 5deg)
    span {
       transform: rotate(-360/6 * 5deg)
    }
  }
    

